*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
}
/*測試*/
embed{
	position: absolute;
	top: 0;
}
/*navbar固定在最上面*/
nav{
	position: fixed;
	width:100%
}

nav ul{
	position: top;
	background-color: green;
	color: white;
	padding: 15px;
}

.intro{
	height: 100vh;
	background-color:red;
	text-align:center;
	padding-top:300px;
}

/* slideshow */
.slideshow-container{
    width: 60%;
    height: 100px;
    margin: 0px auto;
    text-align: center;
}
.slideshowul{
	width: 80%;
	list-style-type: none;
	display: inline-block;
	margin: 0px;
	text-align: center;
	padding: 0px;
}

.spot{
    width: 13px;
    height: 13px;
    margin-top: 5px;
    border-radius: 100%;
    background-color: gray;
    display: inline-block;
    cursor: pointer;
}

.spot:hover{
	background-color: black;
}

.spot.prev{
	float:left;
}
.spot.next{
	float:right;
}
/* ---------------- */

.project{
	text-decoration: none; 
	display: inline-block;
	height: 220px;
	width: 280px;
	margin: 40px 100px;
}
.project-pic {
	/* 長跟寬不能用絕對的大小設定，比例會不對
	width: 300px;
	height: 200px;
	*/ 
	width: 300px;
	height: auto;
	/*邊框*/
	border-style:solid;
	border-color:#BBFFEE;
}

.contact{
	margin:0px;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}

