*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans TC', sans-serif;/*字型*/
}

body{
	text-align: center;
}
/*測試*/
embed{
	position: absolute;
	top: 0;
}
/*navbar固定在最上面*/
nav{
	position: fixed;
	width:100%;
}

nav ul{
	position: top;
	background-color:#c8e69e;
	color: white;
	padding: 15px;
	list-style: none;
	text-align: right;
}

nav ul li{
	display: inline-block;
	margin-right: 50px;
}
nav ul li a{
	text-decoration: none;
}

@media only screen and (max-width: 500px) {
  nav ul {
	text-align: center;
  }
  nav ul li {
	margin: 0 10px;
  }
  .project {
	margin: 40px 0;
  }
}

.intro{
	height: 100vh;
	background-color:#c8e69e;
	text-align:center;
	padding-top:300px;
}
/* slideshow */
.slideshow-container{
    width: 60%;
    height: 100px;
    margin: 0px auto;
    text-align: center;
}
.slideshowul{
	width: 80%;
	list-style-type: none;
	display: inline-block;
	margin: 0px;
	text-align: center;
	padding: 0px;
}

/* ---------------- */
#projects{
	background-color: #85ec57;
	padding-top: 50px;
}


.project{
	text-decoration: none; 
	display: inline-block;
	height: auto;
	width: 278px;
	margin: 40px 100px;
  background-color:white;
	/*邊框*/
	border-style:solid;
	border-color:#BBFFEE;
}
.project-pic {
	/* 長跟寬不能用絕對的大小設定，比例會不對
	width: 300px;
	height: 200px;
	*/ 
	width:auto;
	height:180px;
}

.contact{
	margin:0px;
	background-color: #47d278;
}


.header{
	padding: 100px 0 80px 0;
}

.profile-link{
  display: inline-block;
  margin: 45px 35px;
  border: 2px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080; /*文字顏色*/
  text-decoration: none; /*超連結底線刪掉*/
}

footer{
	padding:40px 0;
	line-height: 25px;
	background-color: #fd5757;

}